---
title: Onsdag
date: "2023-01-118"
---
Under dagens lektion har jag 

-Ändrat färg på texten.

-Testat lagt till bilder.

-Fundarat på vilket teama jag vill att hemsidan ska ha, just nu testar jag med ett APA tema.  

-Gjort en class där jag kan justera färg på texten på en header. -->

```js
<h1 class= "top" >BANANA CLICKER</h1>
```
Inför framtiden vill jag att något ska hända när man klickar + mer text/instruktioner.
